<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>Dashboard Pannel</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <!-- Custom styles for this template -->
  <link href="static/CSS/dashboard.css" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <span class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">Profoilio</span>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="form-control form-control-dark w-100 py-1" style="font-size: 1.6rem;">Dashboard</span>
    <ul class="navbar-nav px-3">

      <li class="nav-item text-nowrap">
        <form action="/LogoutFormHandler" method="POST">
          <button class="btn btn-danger Submit">Sign out</button>
        </form>
      </li>

    </ul>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
          	<li class="nav-item">
              <a class="nav-link active" href="#profileBox" data-scrollid="profileBox">
                <span data-feather="bar-chart-2"></span>
                Profile
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skillsBox" data-scrollid="skillsBox">
                <span data-feather="users"></span>
                Skills
              </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="#linkBox" data-scrollid="linkBox">
                <span data-feather="users"></span>
                Links
              </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="#aboutMeBox" data-scrollid="aboutMeBox">
                <span data-feather="home"></span>
                About me
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#experienceBox" data-scrollid="experienceBox">
                <span data-feather="home"></span>
                Experience
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#acadmicsBox" data-scrollid="acadmicsBox">
                <span data-feather="file"></span>
                Acadmics
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#certificateBox" data-scrollid="certificateBox">
                <span data-feather="shopping-cart"></span>
                Certificate
              </a>
            </li>
                       
            <li class="nav-item">
              <a class="nav-link" href="#projectBox" data-scrollid="projectBox">
                <span data-feather="bar-chart-2"></span>
                Project
              </a>
            </li>
          </ul>

          <!-- 
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
            style="font-size: 1.1rem;">
            Upload History
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Notification history
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Image history
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Video history
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Music history
              </a>
            </li>
          </ul>
          -->
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2" >Dashboard</h1>
        </div> -->

        <section>
          <br>
          <!-- 1 Profile form -->
          <div id="profileBox">
            <h5>Profile Panel </h5>
            <form class="pannelForms p-3" action="/ProfileFormHandler" method="POST" enctype="multipart/form-data">
              <div class="form-group row">
                <label for="profileImageInp" class="col-sm-2 col-form-label">Image File</label>
                <div class="custom-file col-sm-9">
                  <input type="file" class="form-control custom-file-input" id="profileImageInp"
                    name="profileImageInp">
                  <label class="custom-file-label" for="profileImageFile">Choose file</label>
                </div>
                <small id="profileImageFileHelp" class="form-text text-muted col-sm-9 pt-2">
                  Click on Chose file field and select the image you want to upload on <b>Profile Image</b>.
                </small>
              </div>

              <div class="form-group row">
                <label for="profilename" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="profilename" name="profilenameInp"
                    placeholder="Enter your Name">
                </div>
              </div>

              <div class="form-group row">
                <label for="profilemobile" class="col-sm-2 col-form-label">Mobile</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="profilemobile" name="profilemobileInp"
                    placeholder="Enter your Contact number">
                </div>
              </div>

              <div class="form-group row">
                <label for="profileemail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-9 p-0">
                  <input type="email" class="form-control" id="profileemail" name="profileemailInp"
                    placeholder="Enter your e-mail">
                </div>
              </div>

              <div class="form-group row">
                <label for="profilelocation" class="col-sm-2 col-form-label">Location</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="profilelocation" name="profilelocationInp"
                    placeholder="Enter your Location">
                </div>
              </div>

              <button type="Submit" class="btn btn-success" id="aboutMeBtn" value="submit"> <b>Submit</b> </button>
            </form>
          </div>
          <!-- Profile Ends -->


          <br><br><br>


          <!-- 2 Skills form -->
          <div id="skillsBox">
            <h5>Skills Panel </h5>
            <form class="pannelForms p-3" action="/SkillFormHandler" method="POST">
              <div class="form-group row">
                <label for="skillsText" class="col-sm-2 col-form-label">Skill</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="skillsTextInp" name="skillsTextInp"
                    placeholder="Enter your skills">
                </div>
              </div>

              <button type="Submit" class="btn btn-success" id="aboutMeBtn"> <b>Submit</b> </button>
            </form>
          </div>
          <!-- Skills Ends -->

          
          <br><br><br>


          <!-- 3 Link me form -->
          <div id="linkBox">
            <h5>Link me Panel </h5>
            <form class="pannelForms p-3" action="/LinkFormHandler" method="POST">
              <div class="form-group row">
                <label for="linkLabel" class="col-sm-2 col-form-label">Link Label</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="linkLabel" name="linkLabelInp">
                </div>                
              </div>
              <div class="form-group row">
                <label for="linkLinkInp" class="col-sm-2 col-form-label">Link</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="linkLinkInp" name="linkLinkInp">
                </div>   
              </div>

              <button type="Submit" class="btn btn-success" id="linkBtn"> <b>Submit</b> </button>
            </form>
          </div>
          <!-- About me Ends -->


          <br><br><br>


          <!-- 4 About me form -->
          <div id="aboutMeBox">
            <h5>About me Panel </h5>
            <form class="pannelForms p-3" action="/AboutFormHandler" method="POST">
              <div class="form-group row">
                <label for="aboutMeText" class="col-sm-2 col-form-label">About me Label</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="aboutMeText" name="aboutMeTextInp">
                </div>
                <small id="aboutMeTextHelp" class="form-text text-muted col-sm-9 pt-2">
                  About me Text
                </small>
              </div>

              <button type="Submit" class="btn btn-success" id="aboutMeBtn"> <b>Submit</b> </button>
            </form>
          </div>
          <!-- About me Ends -->

          
          <br><br><br>
         

          <!-- 5 Experience form -->
          <div id="experienceBox">
            <h5>Experience Panel </h5>
            <form class="pannelForms p-3" action="/ExperienceFormHandler" method="POST">

              <div class="form-group row">
                <label for="designationText" class="col-sm-2 col-form-label">Designation</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="experiencedesignationText" name="experiencedesignationTextInp"
                    placeholder="Enter your designation">
                </div>
              </div>

              <div class="form-group row">
                <label for="companyText" class="col-sm-2 col-form-label">Company</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="experiencecompanyText" name="experiencecompanyTextInp"
                    placeholder="Enter your company">
                </div>
              </div>

              <div class="form-group row">
                <label for="experiencedate" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-9 p-0" id="experiencedate">
                  <input type="date" class="date-control-1" id="dateText" name="experiencedateTextInpFrom" min="1970-01-02">
                  <input type="date" class="date-control-2 mx-4" id="dateText" name="experiencedateTextInpTo" min="1970-01-02">
                </div>
              </div>

              <div class="form-group row">
                <label for="experiencejobDescriptionText" class="col-sm-2 col-form-label">Job Description</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="experiencejobDescriptionText" name="experiencejobDescriptionTextInp"
                    placeholder="Enter your Job Description">
                </div>
                <small id="jobDescriptionTextHelp" class="form-text text-muted col-sm-9 pt-2">
                  Job Description Text 1
                </small>
              </div>

              <button type="Submit" class="btn btn-success" id="experienceBtn"> <b>Submit</b> </button>
            </form>
          </div>
          <!-- Experience Ends -->


          <br><br><br>


          <!-- 6 Acadmics form -->
          <div id="acadmicsBox">
            <h5>Acadmics Panel</h5>
            <form class="pannelForms p-3" action="/AcadmicFormHandler" method="POST">
              <div class="form-group row">
                <label for="acadmicqualificationText" class="col-sm-2 col-form-label">Qualification</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="acadmicqualificationText" name="acadmicqualificationTextInp">
                </div>
              </div>

              <div class="form-group row">
                <label for="acadmicinstituteText" class="col-sm-2 col-form-label">Institute</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="acadmicinstituteText" name="acadmicinstituteTextInp">
                </div>
              </div>

              <div class="form-group row">
                <label for="date" class="col-sm-2 col-form-label">Year</label>
                <div class="col-sm-9 p-0" id="acadmicdate">
                  <input type="date" class="date-control-1" id="dateText" name="acadmicdateTextInpFrom" min="1970-01-02">
                  <input type="date" class="date-control-2 mx-4" id="dateText" name="acadmicdateTextInpTo" min="1970-01-02">
                </div>
              </div>
              <button type="Submit" class="btn btn-success" id="acadmicBtn"> <b>Submit</b> </button>
            </form>
          </div>
          <!-- Acadmics Ends -->


          <br><br><br>


          <!-- 7 Certificate form -->
          <div id="certificateBox">
            <h5>Certificate Panel </h5>
            <form class="pannelForms p-3" action="/AchievementFormHandler" method="POST" enctype="multipart/form-data">
              <div class="form-group row">
                <label for="certificateText" class="col-sm-2 col-form-label">Name of Certificate</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="certificateText" name="certificateTextInp"
                    placeholder="Enter your Course">
                </div>
              </div>

              <div class="form-group row">
                <label for="certificateImageFile" class="col-sm-2 col-form-label">Image File</label>
                <div class="custom-file col-sm-9">
                  <input type="file" class="form-control custom-file-input" id="certificateImageFile"
                    name="certificateImageFileInp">
                  <label class="custom-file-label" for="certificateImageFile">Upload your Certificate</label>
                </div>
                <small id="certificateImageFileHelp" class="form-text text-muted col-sm-9 pt-2">
                  Click on Chose file field and select the image you want to upload on <b>Certificate Image</b>.
                </small>
              </div>

              <button type="Submit" class="btn btn-success" id="certificateBtn"> <b>Submit</b> </button>
            </form>
          </div>
          <!-- Certificate Ends -->


          <br><br><br>


          <!-- 8 Project form -->
          <div id="projectBox">
            <h5>Project Panel</h5>
            <form class="pannelForms p-3" action="/ProjectFormHandler" method="POST" enctype="multipart/form-data">

              <div class="form-group row">
                <label for="projectNameText" class="col-sm-2 col-form-label">Project Name</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="projectNameText" name="projectNameTextInp"
                    placeholder="Enter your Name">
                </div>
              </div>

              <div class="form-group row">
                <label for="projectImageFile" class="col-sm-2 col-form-label">Project File</label>
                <div class="custom-file col-sm-9">
                  <input type="file" class="form-control custom-file-input" id="projectImageFile"
                    name="projectImageFileInp">
                  <label class="custom-file-label" for="projectImageFile">Choose file</label>
                </div>
                <small id="projectImageFileHelp" class="form-text text-muted col-sm-9 pt-2">
                  Click on Chose file field and select the image you want to upload on <b>Profile Image</b>.
                </small>
              </div>

              <div class="form-group row">
                <label for="projectDescriptionText" class="col-sm-2 col-form-label">Project Description</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="projectDescriptionText" name="projectDescriptionTextInp"
                    placeholder="Describe your Project">
                </div>
              </div>

              <div class="form-group row">
                <label for="projectLinkText" class="col-sm-2 col-form-label">Project Link</label>
                <div class="col-sm-9 p-0">
                  <input type="text" class="form-control" id="projectLinkText" name="projectLinkTextInp"
                    placeholder="Enter your Name">
                </div>
              </div>

              <button type="Submit" class="btn btn-success" id="aboutMeBtn" value="Submit"> <b>Submit</b> </button>
            </form>
          </div>
          <!-- Project Ends -->


          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


        </section>




        <!-- reference of custom input file -->
        <!-- <form>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </form> -->
      </main>
    </div>
  </div>

  <script src="static/Js/jquery-3.6.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

  <script src="static/Js/DashBoardScript.js"></script>

  <script>

    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

  </script>
</body>

</html>